---
import Layout from '../layouts/Layout.astro'
import Welcome from '../components/Welcome.astro'
import Footer from '../components/Footer.astro'
import Cards from '../components/Cards.astro'
---

<Layout>
  <section>
    <Welcome />
  </section>

  <!-- SECCIÓN DE CARDS -->
  <section class="bg-gray-100 py-16">
  <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-6 place-items-center ">
      <Cards
        title="Alquiler de Mobiliario"
        description="Información sobre nuestros servicios de alquiler de mobiliario."
        buttonText="Ver servicio"
      />

      <Cards
        title="Alquiler de Manteleria"
        description="Información sobre nuestros servicios de alquiler de mantelería."
        buttonText="Ver Servicio"
      />

      <Cards
        title="Servicio de Decoracion"
        description="Informacion nuestros servicios de decoración para eventos."
        buttonText="Ver Servicio"
      />

      <Cards
        title="Planeacion de Eventos"
        description="Información sobre nuestros servicios de planeación de eventos."
        buttonText="Ver Servicio"
      />
    </div>
  </section>
  <section class="bg-gray-50 py-20">
  <div class="max-w-4xl mx-auto text-center px-6">
    
    <h2 class="text-3xl md:text-4xl font-semibold mb-4">
      Cada detalle importa en tu evento
    </h2>

    <p class="text-gray-600 mb-8">
      En DETALLESSV te ayudamos a crear eventos únicos con mobiliario,
      mantelería y decoración pensados para cada ocasión.
    </p>

    <a
      href="/contacto"
      class="inline-block bg-purple-600 text-white px-8 py-4 rounded-lg
             hover:bg-purple-700 transition"
    >
      Solicitar cotización
    </a>

  </div>
</section>


  <Footer />
</Layout>
