---
const { title, description } = Astro.props
---
<article class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
  <img alt="" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?auto=format&amp;fit=crop&amp;q=80&amp;w=1160" class="h-56 w-full object-cover">

  <div class="bg-white p-4 sm:p-6">
    <a href="#">
      <h3 class="mt-0.5 text-lg text-gray-900">
        {title}
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {description}
    </p>
  </div>
</article>