<section>
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-prose md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            Servicios de alquiler de mobiliario para eventos
          </h2>

          <p class="mt-4 text-pretty text-gray-700">
            Detalles Alquileres para Eventos ofrece servicios de alquiler de
            mobiliario para eventos sociales y corporativos. Entre sus servicios se incluye el alquiler de mesas,
            sillas y manteles en diferentes colores, permitiendo adaptar la
            decoración según el tipo de evento. El mobiliario se entrega limpio
            y en buen estado, facilitando la preparación del evento. Este
            servicio es ideal para cumpleaños, reuniones familiares y otros
            eventos sociales que requieren mobiliario básico sin necesidad de
            compra.
          </p>
        </div>
      </div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1731690415686-e68f78e2b5bd?auto=format&fit=crop&q=80&w=1160"
          class="rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
